.activity-feed {
  width: 90%;
  margin: 0 auto;
}

.activity-feed li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
  margin-top: 12px;
}

.activity-feed .feed-item__num {
  width: 50px;
  flex-shrink: 0;
  flex-grow: 0;
}

.activity-feed .feed-item__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
  border: grey 1px solid;
}


@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  
  .activity-feed .feed-item__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .content__date {
    order: 2;
  }
}
