.activity-feed {
  width: 90%;
  margin: 0 auto;
  font-family: helvetica;
}

.activity-feed li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
  margin-top: 12px;
}

.activity-feed .feed-item__num {
  width: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  
  font-size: 20px;
  color: white;
  padding: 12px;
  margin-right: 12px;
  border-radius: 10px;
  background-color: red;
  text-align: center;
}

.activity-feed .feed-item__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  
  border: grey 1px solid;
  padding: 12px;
  width: 100%;
}

.content__date {
  font-size: 14px;
}

.content__text {
  padding-right: 12px;
}

.content__text h1 {
  font-size: 16px;
}

.content__text h1 a {
  text-decoration: none;
  color: cornflowerblue;
}

.content__text p {
  font-size: 14px;
  color: grey;
}



@media only screen and (min-width: 600px) {  
  .activity-feed .feed-item__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .content__date {
    order: 2;
  }
  
  .content__text h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
}
